<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>Dashboard</string>
		<key>Image</key>
		<string>sidebar.left</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Hello World</string>
		<key>storyboardID</key>
		<string>Helloworld</string>
		<key>Image</key>
		<string>1.square.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Three Screens</string>
		<key>storyboardID</key>
		<string>ThreeScreens</string>
		<key>Image</key>
		<string>2.square.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>ColourChange</string>
		<key>storyboardID</key>
		<string>ColourChange</string>
		<key>Image</key>
		<string>3.square.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>StackExample</string>
		<key>storyboardID</key>
		<string>StackExample</string>
		<key>Image</key>
		<string>4.square.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>LoginScreen</string>
		<key>storyboardID</key>
		<string>LoginScreen</string>
		<key>Image</key>
		<string>5.square.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>LoginScreen2</string>
		<key>storyboardID</key>
		<string>LoginScreen2</string>
		<key>Image</key>
		<string>6.square.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>NewsOnAir</string>
		<key>storyboardID</key>
		<string>NewsOnAir</string>
		<key>Image</key>
		<string>7.square.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>SimpleTable</string>
		<key>storyboardID</key>
		<string>SimpleTable</string>
		<key>Image</key>
		<string>8.square.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>CountryTable</string>
		<key>storyboardID</key>
		<string>CountryTable</string>
		<key>Image</key>
		<string>9.square.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>CustomizedTable</string>
		<key>storyboardID</key>
		<string>CustomizedTable</string>
		<key>Image</key>
		<string>10.square.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>TableFromJson</string>
		<key>storyboardID</key>
		<string>TableFromJson</string>
		<key>Image</key>
		<string>11.square.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>SectionedTable</string>
		<key>storyboardID</key>
		<string>SectionedTable</string>
		<key>Image</key>
		<string>12.square.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>SimpleCollectionView</string>
		<key>storyboardID</key>
		<string>SimpleCollectionView</string>
		<key>Image</key>
		<string>13.square.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>ComplexCollectionView</string>
		<key>storyboardID</key>
		<string>ComplexCollectionView</string>
		<key>Image</key>
		<string>14.square.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Dynamic</string>
		<key>storyboardID</key>
		<string>Dynamic</string>
		<key>Image</key>
		<string>15.square.fill</string>
	</dict>
</array>
</plist>
